<div class="bg-about">
  <div class="content2">
  <div class="photo-gallery">
      <div class="container">
          <div class="intro">
              <h2 class="header text-center">THE 1975 - ABOUT</h2>
              <p id="reference">From Wikipedia, the free encyclopedia<p>
          </div>
          <div class="row photos">
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_1.jpg"></a><img class="img-fluid" src="../../../assets/img/1975_1.jpg"></div>
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_5.jpg"><img class="img-fluid" src="../../../assets/img/1975_5.jpg"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_6.jpg"><img class="img-fluid" src="../../../assets/img/1975_6.jpg"></a></div>
              <!-- <div class="col"><img class="img-fluid" src="assets/img/1975_7.jpg"></div>
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_2.jpg"><img class="img-fluid" src="../../../assets/img/1975_2.jpg"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_3.jpg"><img class="img-fluid" src="../../../assets/img/1975_3.jpg"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_9.jpg"><img class="img-fluid" src="../../../assets/img/1975_9.jpg"></a></div>
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_8.jpg"><img class="img-fluid" src="../../../assets/img/1975_8.jpg"></a></div> -->
          </div>
      </div>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

  <div class="info">
    <p>
      The 1975 are an English pop rock band formed in 2002 in Wilmslow, Cheshire.
      Now based in Manchester, the band consists of lead vocalist, producer, lyricist
      and rhythm guitarist Matty Healy, lead guitarist Adam Hann, bassist Ross MacDonald,
      and drummer/producer George Daniel.
    </p>
    <p> The band's origins trace to their attendance at
      secondary school and playing together as teenagers. Gigs, organized by a council
      worker, led the band to sign with Dirty Hit and Polydor Records. The band opened
      for several major acts and released a series of extended plays (Facedown, Sex,
      Music for Cars, IV) throughout 2012 before releasing their self-titled debut
      album (2013), which included the popular singles "Sex", "Chocolate", and "Robbers"
      and reached number one in the United Kingdom.
    </p>
    <p>
      Their second album, I Like It When You Sleep, for You Are So Beautiful yet So Unaware
      of It (2016), reached No. 1 in the US, UK, Canada, Australia and New Zealand.
      Following the touring cycle for the record, the band announced their third album
      under the working title of Music for Cars, before going on hiatus again throughout 2017.
    </p>
    <p>
      Returning in 2018, the band announced that the album had evolved into their third
      campaign cycle, consisting of their third and fourth studio albums. The first,
      A Brief Inquiry into Online Relationships (2018), was released to widespread critical
      acclaim, and became their third No. 1 album in the UK. The second, Notes on a Conditional
      Form, was released in May 2020 and became their fourth consecutive No. 1 album in the UK.
    </p>
    <p>
      The 1975 has garnered acclaim for their relevant lyricism and exploration of an
      eclectic range of genres such as pop rock, synth-pop, R&B, electropop, new wave
      forms of electronic music (such as UK garage, 2-step and ambient),
      and forms of rock music (such as shoegaze, post-punk and post-rock),
      as well as elements of jazz, soul and gospel.
    </p>

    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
            </div>
            <div class="row photos">
                <!-- <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_1.jpg"></a><img class="img-fluid" src="../../../assets/img/1975_1.jpg"></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_5.jpg"><img class="img-fluid" src="../../../assets/img/1975_5.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_6.jpg"><img class="img-fluid" src="../../../assets/img/1975_6.jpg"></a></div> -->
                <!-- <div class="col"><img class="img-fluid" src="assets/img/1975_7.jpg"></div> -->
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_3.jpg"><img class="img-fluid" src="../../../assets/img/1975_3.jpg"></a></div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_2.jpg"><img class="img-fluid" src="../../../assets/img/1975_2.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="../../../assets/img/1975_9.jpg"><img class="img-fluid" src="../../../assets/img/1975_9.jpg"></a></div>

            </div>
        </div>
    </div>


    <h1>HISTORY</h1>
    <h2>2002–2011: FORMATION</h2>
    <p>
      Matty Healy, the son of actors Denise Welch and Tim Healy, grew up in Newcastle
      and Cheshire. He met Ross MacDonald, Adam Hann and George Daniel at
      Wilmslow High School in Wilmslow in 2002; as teenagers they played together.
      The band formed when the local council worker organised numerous gigs
      for teens. Matty Healy found Hann who "came up to [him] and said he wanted to
      play one of these shows." The band began playing covers until they
      "eventually wrote a song", according to Healy. "We started from then and
      we've been making music together since we were about 15." After Hann
      invited the members to form a band, they passed their early days covering
      punk songs in a local club. Healy was originally the drummer but took
      over vocals after the previous singer left to start another band (this being
      Elliot Williams of the indie rock band Editors). George Daniel was recruited
      as the new drummer to complete the final line-up.
    </p>
    <p>
      Bassist Ross MacDonald performing in Buenos Aires in 2017. The band formerly
      performed under the names Me and You Versus Them, Forever Drawing Six,
      Talkhouse, the Slowdown, Bigsleep, and Drive Like I Do,
      before settling on "the 1975". Healy recounts that the name was inspired
      by deranged and "mental" scribblings found on the backpage of the book On
      The Road by Jack Kerouac that were dated to "1 June, The 1975". This would
      become a prominent day of the band.
    </p>

    <h2>2012–2014: EARLY CAREER AND SELF-TITLED DEBUT ALBUM</h2>
    <p>
      The band's self-titled debut album was recorded with Arctic Monkeys collaborator
      Mike Crossey. Between Autumn 2012 and Spring 2013, during which time the
      album was recorded, the band released four EPs. They toured to support and
      build momentum for the album, including numerous gigs and special appearances
      with other artists.
    </p>
    <p>
      The album received positive reviews from critics, and topped the UK Albums
      Chart on 8 September. As of March 2016, it had sold 410,981 copies in
      the UK, and 390,000 copies in the US.
    </p>
    <p>
      The release of the band's first EP, titled Facedown, in August 2012 saw the
      band's first UK airplay on national radio with lead track "The City", which
      was also featured as part of a BBC Introducing show with Huw Stephens on BBC
      Radio 1. The 1975 once again garnered national radio attention in late
      2012, with BBC Radio 1 DJ Zane Lowe championing their single "Sex" from the
      eponymous EP, which was released on 19 November.[36] They embarked on a
      United Kingdom and Ireland tour extended into early 2013, before beginning
      a US tour in Spring 2014. Upon the release of Music for Cars on 4 March
      2013, the 1975 found mainstream chart success with "Chocolate", reaching
      number 19 in the UK Singles Chart. On 20 May 2013 the band released IV, which
      included a new version of "The City". The track charted in UK and received
      airplay in several other countries.
    </p>
    <p>
      The 1975 toured extensively to support releases and to build hype before
      releasing their debut. The band supported Muse on the second leg of The
      2nd Law World Tour at the Emirates Stadium in London on 26 May 2013.
      They also toured with the Neighbourhood in the United States in June 2013,
      and supported the Rolling Stones in Hyde Park on 13 July. In August, the
      band performed on the Festival Republic Stage at 2013 Reading and Leeds Festivals.
    </p>
    <p>
      In a feature article, Elliot Mitchell of When the Gramophone Rings wrote that
      releasing a string of EPs before the debut album was "a move that he deemed
      necessary to provide context to the band's broad sound, rather than just building
      up with singles alone." Matthew Healy said, "We wouldn't have been able to release
      the album without putting out the EP's first, as we wanted to make sure we could
      express ourselves properly before dropping this long, ambitious debut record on people."
    </p>
    <p>
      Their self-titled debut, The 1975, was released on 2 September 2013, co-produced
      by Mike Crossey, known for his work with Arctic Monkeys and Foals.[36] The 1975
      were selling out shows even before the debut of their full length as Healy
      recalls in an interview with Larry Heath of The AU Review. The lead single
      is a re-worked "Sex", which was released on 26 August 2013. The song premiered
      on Zane Lowe's BBC Radio 1 show on 8 July 2013, and a music video premiered
      on YouTube on 26 July. The 1975 debuted at number one on the UK Albums Chart.
    </p>
    <p>
      The 1975 toured in the UK in September 2013, among others performing in Kingston
      upon Hull as headliners at Freedom Festival, a celebration of the city's shortlisting
      for 2017 UK City of Culture designation, and at iTunes Festival on 8 September
      as an opening act for indie electronic quartet Bastille. The band undertook a
      North American tour in October, a European for November, and in January 2014
      the band performed in New Zealand and Australia. In September 2013, the band
      performed three sold-out shows at London's Shepherd's Bush Empire. In April
      2014, the band performed for the first time in a major American music and arts
      festival: Coachella. The band played at Royal Albert Hall the same month.
      In May, the band's recorded output was distributed digitally while they were
      touring North America. Healy noted that the band had recording scheduled in Q2 2015.
    </p>
    <h2>2015–2017: I LIKE IT WHEN YOU SLEEP, FOR YOU ARE SO BEAUTIFUL YET SO UNAWARE OF IT</h2>
    <p>
      On 1 June 2015, the band's social accounts were terminated, which caused intense
      speculation. A comic strip was posted on Healy's Twitter a day prior but
      is now on their manager, Jamie Oborne's account, which suggested the band's
      break-up. The next day, the accounts were reinstated, but the cover images
      and profile photos were white and light pink, instead of the usual black and
      white, revealing it to be a publicity stunt.
    </p>
    <p> On 8 October, the band announced their second album, I Like It When You Sleep,
      for You Are So Beautiful yet So Unaware of It. They premiered the lead
      single, "Love Me", simultaneously scheduling a support tour in Europe, North
      America, and Asia. They premiered the second single, "UGH!", on 10 December
      on Beats 1. The album's third single, "The Sound" debuted on BBC Radio 1 on
      14 January 2016. The 1975 released the fourth single "Somebody Else" on 15
      February on Beats 1 before the album's release. "A Change of Heart" premiered
      on Radio 1 on 22 February, four days prior to the album's release.
    </p>
    <p>
      NME, who had previously been highly critical of the band, praised the album
      for its scope and ambition, writing that "Any record that burrows as deep
      into your psyche as ‘I Like It…' should be considered essential. It's hugely
      clever and wryly funny, too." They later named it their Album of the Year for
      2016. Although music journalist Alexis Petridis noted that parts of the
      album were over-ambitious, he went on to claim that "incredibly, though, most
      of the time Healy gets away with it. That's sometimes because his observations
      are sharp – as a skewering of celebrity squad culture, 'you look famous, let's
      be friends / And portray we possess something important / And do the things we
      like' is pretty acute – but more usually because they come loaded with witty
      self-awareness and deprecation: the endless depictions of vacuous, coke-numbed
      girls he has met would get wearying were it not for the fact that he keeps
      turning the lyrical crosshair on himself." In a more mixed review, Rolling
      Stone criticised tracks like 'Lostmyhead' and 'Please Be Naked' for being
      'boring-melty' but praised songs such as 'Somebody Else', 'Loving Someone'
      and 'Love Me'.
    </p>
    <p>
      The album was released on 26 February and topped the UK Albums Chart and the
      US Billboard 200. The band released a free download of "How to Draw" on
      Twitter and through Target Exclusive. It was shortlisted for the 2016
      Mercury Music Prize and nominated for Album of the Year at the 2017 Brit
      Awards.
    </p>
    <h2>2017–2019: A Brief Inquiry into Online Relationships</h2>
    <p>
      On November 2016, member George Daniel teased the band's third album by releasing
      a video on his Instagram account captioned "2018", containing snippets of audio
      along with Healy playing the keyboards.
    </p>
    <p>
      On 3 April 2017, Healy tweeted "I like it when you sleep is coming to an end"
      (sic) before following up with "Music for Cars", which shares the name of their
      third extended play. In March 2017, the band confirmed that two songs for
      the new album have already been written. In June, Healy also confirmed
      that Drive Like I Do, one of the 1975's prior incarnations, will release a
      debut album as a side project 'in a few years'.
    </p>
    <p>
      In November, Healy teased the release of an EP within 2017. Besides being
      confirmed, the EP was delayed to 2018, with manager Jamie Oborne stating that
      "something" would be released instead; this was the band's debut live album,
      DH00278. He also confirmed that no singles from Music for Cars will be released
      in 2017, with the band confirming that something will be released on 1 June 2018.
    </p>
    <p>
      In March 2018, the band deleted many media posts across their accounts going
      back to July 2017, during their final show at Latitude Festival for I Like It
      When You Sleep, for You Are So Beautiful yet So Unaware of It. On 22 April
      2018, in response to a fan comment on Twitter, Oborne stated that their second
      album's campaign would remain for "a few more days". At the end of April,
      cryptic posters titled "Music for Cars" appeared in London and Manchester,
      containing taglines and a Dirty Hit catalogue number, DH00327, amongst a black
      background. Various billboards were also spotted in the United Kingdom,
      having used détournement to apply themselves over existing advertisements.
    </p>
    <p> The band updated their website to display a timer counting down towards 1
      June at the beginning of May 2018, becoming active again on social media.
      Within its first hours, it was revealed to contain a hidden zip file
      with four individual posters, each of the names leading to a hidden page on
      the website that displayed a conversation between a 'human' and a 'machine'.
      Over social media, the band frequently released different posters, all
      titled "A Brief Inquiry Into Online Relationships". On 31 May 2018,
      the band released the single "Give Yourself a Try", after premiering as
      Annie Mac's "Hottest Record in the World" on BBC Radio 1 that same day.
    </p>
    <p>
      The album garnered almost universal praise from critics. According to review
      aggregator Metacritic, the album has received a weighted score of 83 based
      on 29 reviews, indicating "universal acclaim". Ryan Dombal of Pitchfork
      gave the album a score of 8.5, earning it the Best New Music tag, and called
      it "outrageous and eclectic", as well as "similar to its predecessor in its
      boundless sense of style, swerving from Afrobeats to brushed-snare jazz balladry
      to one track that sounds like a trap remix of a Bon Iver ayahuasca trip", but
      "more purposeful" than I Like It When You Sleep. Time considered it one of
      the Best Albums of 2018, placing it at number nine on their list.
    </p>
    <p>
      However, Conrad Duncan writing for the same site gave the album a positive
      review, calling it "full of genuine heart, intelligence and wit".
      Popmatters criticized the album as bloated and inconsistent, stating "The
      band's reach exceeds their grasp here, and vocalist/band leader Matt Healy's
      indulgences are often more tiresome than charming", while still praising it
      as "fascinating". Healy, in an interview for Beats 1, stated that "Music
      for Cars" is more of an era to release music, after renaming Music for Cars
      to A Brief Inquiry Into Online Relationships. It was released on 30 November
      2018. The band headlined both Radio 1's Big Weekend in Stewart Park, Middlesbrough
      on 26 May 2019 and Reading and Leeds Festival in August 2019.
    </p>
    <p>
      The album was shortlisted for the 2019 Mercury Music Prize and won the award
      for British Album of the Year at the 2019 Brit Awards.
    </p>
    <h2>2019–2021: Notes on a Conditional Form</h2>
    <p>
      On 24 July 2019, the opening song of Notes on a Conditional Form, titled
      "The 1975", was released, featuring climate activist Greta Thunberg, the
      proceeds of the song going to Extinction Rebellion. The lead single,
      entitled "People" released on 22 August 2019. This was announced by a countdown
      on the band's social media accounts, including small snippets of lyrics from
      the song that fans could piece together. A second single, titled "Frail State
      of Mind", was released on 24 October. The music video for the song was released
      on 30 November 2019. The next single, "Me & You Together Song", was released
      on 16 January 2020.On 15 February, the group did their UK tour that lasted
      until 3 March 2020. The tour began in Nottingham’s Motor point arena, which
      holds a capacity of 10,000, and they ended their tour in Dublin after performing
      in Places such as London’s O2, Manchester, Glasgow and other hit places in the UK.
      On 17 February 2020, the band put up a "digital detox" website called MindShowerAI
      which contained a countdown to their next single as well as several odd messages
      like “I am doing my mind and my life!” and “I feel comfort and respect." A
      fourth single, ‘The Birthday Party’, was released on 19 February 2020 at the end
      of the website's countdown. On 3 April, the band released "Jesus Christ 2005 God
      Bless America", featuring guest vocals from Phoebe Bridgers, which was followed
      by "If You're Too Shy (Let Me Know)" on 23 April 2020.[citation needed]
    </p>
    <p>
      The band's fourth album, Notes on a Conditional Form, was released on 22 May
      2020. It became the band's fourth consecutive album to reach number one on
      the UK Albums Chart as well as reaching number one in Australia and number four
      in the United States. On the 4th of December 2020, the album became certified
      silver in the UK via Brits certified.
    </p>
    <h2>2021–present: Drive Like I Do</h2>
    <p>
      Entering 2021, many of the band's 2020 shows that were postponed due to
      the COVID-19 pandemic were ultimately cancelled on 12 January 2021. During
      this time, lead singer Matty Healy teased future music under the name
      "Drive Like I Do", and said that the band was working on their fifth studio
      album, although there was no indication as to when writing, recording, mixing,
      etc. would be complete.
    </p>
    <p>
      In February 2021, another Dirty Hit signed musician called No Rome announced
      he was working on a track featuring The 1975 along with Charli XCX, which would
      make it the second No Rome single to feature the band after 2018's "Narcissist".
      The tracks title is "Spinning" and was released on March 4 2021.
    </p>

    <h1>Musical style</h1>
    <p>
      The 1975 has been classified as a pop rock band. Scott Kerr of
      AllMusic wrote that the band combined "the dark and youthful themes of sex,
      love, and fear with ethereal alt-rock music." Healy specifically cites
      Talking Heads, My Bloody Valentine, Ride, and Michael Jackson as musical
      influences; he states that his greatest influence is the oeuvre of filmmaker
      John Hughes. For their second album, I Like It When You Sleep, for You Are
      So Beautiful yet So Unaware of It, Healy cited D'Angelo, Roberta Flack, Boards of
      Canada, and Sigur Rós as inspirations, saying that they're "a post-modern pop
      band that references a million things. I don't even know what my band is half
      the time." Their "melancholic" black and white visual aesthetic is juxtaposed
      with major keys and what the band calls "classic pop sensibilities." Critics
      at Pitchfork have favourably compared them to the Big Pink. Sex EP was
      described by Paste as "equal parts ethereal and synth pop", with "haunting"
      and "smooth" vocals. Their "mellow", stripped down style was praised for its
      lack of "attention-grabbing production theatrics."
    </p>
    <p>
      The 1975 has been described as electropop, funk rock, indie pop,
      indie rock, pop, pop rock and rock. I Like
      It When You Sleep, for You Are So Beautiful yet So Unaware of It has been
      described as indie rock and pop.
    </p>
    <p>
      Healy has stated that their influence is "heavily rooted" in African-American
      music in many interviews.
    </p>
    <p>
      Public reaction to the band's music has been mixed, particularly on social
      media platforms like Twitter, "perhaps the last public space for unfettered
      music criticism in an increasingly anti-critical landscape", according to Vice
      magazine's Larry Fitzmaurice in 2016. In an essay on the critical response,
      he said they have been "the Most Hated and Loved Band in the World" and
      described "as underrated and overhyped, although the needle has far more often
      swung towards the former direction". In Fitzmaurice's opinion, the band's
      debut album was mainly a straightforward rock album recorded "with a soft-focus
      and especially British sensibility", while I Like It When You Sleep was only
      rock music in the loosest sense of the word. Overall, he said their music is
      pop "in the realm of Alternative", most comparable to INXS.
    </p>

    <h1>Band members</h1>
    <ul>
      <li>Matty Healy – lead vocals, guitars, keyboards</li>
      <li>Adam Hann – guitars</li>
      <li>Ross MacDonald – bass guitar</li>
      <li>George Daniel – drums, percussion, keyboards, programming, backing vocals</li>
    </ul>

    <h3>Session and touring musicians</h3>
    <ul>
      <li>John Waugh – saxophone, keyboards (2013–present)</li>
      <li>Jamie Squire – keyboards, rhythm guitar, backing vocals (2015–present)</li>
      <li>Taitlyn Jaiy – backing vocals, dancing (2018–present)</li>
      <li>Kaylee Jaiy – backing vocals, dancing (2018–present)</li>
    </ul>


    <h1>Discography</h1>
    <ul>
      <li>The 1975 (2013)</li>
      <li>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It (2016)</li>
      <li>A Brief Inquiry into Online Relationships (2018)</li>
      <li>Notes on a Conditional Form (2020)</li>
    </ul>
    <h1>Awards and nominations</h1>
    <p>Main article: List of awards and nominations received by The 1975</p>

  </div>
</div>

<div class="socials">
  <a href="https://www.facebook.com/the1975">
    <i class="fab fa-facebook-f"></i>
  </a>

  <!-- Twitter -->
  <a href="https://twitter.com/the1975?lang=en">
    <i class="fab fa-twitter"></i>
  </a>

  <!-- Instagram -->
  <a href="https://www.instagram.com/the1975/?hl=en">
    <i class="fab fa-instagram"></i>
  </a>

  <!-- Youtube -->
  <a href="https://www.youtube.com/channel/UC_LfW1R3B0of9qOw1uI-QNQ">
    <i class="fab fa-youtube"></i>
  </a>

  <!-- Spotify -->
  <a href="https://open.spotify.com/artist/3mIj9lX2MWuHmhNCA7LSCW">
    <i class="fab fa-spotify"></i>
  </a>
</div>

</div>
