html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 20s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #D639A0 50%, #E592AC 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:20s;
}

.bg3 {
  animation-duration:20s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:6vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #FCF1ED;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
  color: #D639A0;
}

.navbar {
  background-color: #F6E1E8;
}

.nav-link {
  color: #D639A0;
}

iframe {
  width: 800px;
  height: 500px;
  margin-top: 15px;
}

.fab {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

a i {
  color: black;
  font-size: 250%;
  color: #D639A0;
}

h2 {
  color: #D639A0;
  font-weight: bold;
  font-size: 300%;
}
