<div class="contain">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<h1 id="top"><span>THE 1975 - SONGS</span></h1>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/Iyy3YOpxL2k?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Robbers</h2>
      <p>the 1975 - 2013</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/wYYQpTbBSBM?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>If You're Too Shy</h2>
      <p>Notes on a Conditional Form</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/trbwqF0d7NA?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>A Change of Heart</h2>
      <p>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It - 2016</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="contain">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/FzfKn-hlZwo?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>It's Not Living</h2>
      <p>A Brief Inquiry into Online Relationships - 2018</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/FSnAllHtG70?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>The Sound</h2>
      <p>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It - 2016</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/lCQVvXOL6Hs?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Somebobdy Else</h2>
      <p>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It - 2016</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="contain">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/NF47oaT6qzc?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Me & You Together Song</h2>
      <p>Notes on a Conditional Form - 2020</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/1K93ioXL63c?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Sincerity is Scary</h2>
      <p>A Brief Inquiry into Online Relationships - 2018</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/Onby3d2lFDc?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Be My Mistake</h2>
      <p>A Brief Inquiry into Online Relationships - 2018</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/QkubQCI4Fxo?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Girls</h2>
      <p>the 1975 - 2013</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="contain">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/4fxPQUKfim4?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>TOOTIMETOOTIMETOOTIME</h2>
      <p>A Brief Inquiry into Online Relationships - 2018</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/CHk5SWVO4p8?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Chocolate</h2>
      <p>the 1975 - 2013</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/M3gTmd8uv5I?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>She's American</h2>
      <p>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It - 2016</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/hx3DonCyCmc?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>If I Believe You</h2>
      <p>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It - 2016</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="contain">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
</div>

<div class="song song1">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/EKdPxXWm7Jg?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>People</h2>
      <p>Notes on a Conditional Form - 2020</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<div class="song song2">
  <div class="row">
    <div class="col vid">
      <iframe width="320" height="215"
      src="https://www.youtube.com/embed/TJ5bZuUlftI?autoplay=0&mute=0">
      </iframe>
    </div>
    <div class="col">
      <h2>Love Me</h2>
      <p>I Like It When You Sleep, for You Are So Beautiful yet So Unaware of It - 2016</p>
      <p>spotify link</p>
    </div>
  </div>
</div>

<p id="flip">A BRIEF INQUIRY INTO ONLINE RELATIONSHIPS</p>
