<div class="container">

  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>

</div>

<h1>THE 1975 - SONGS</h1>

<div class="song">
  <h2>Song Title</h2>
  <p>release date</p>
  <p>spotify link</p>
  <iframe width="420" height="315"
  src="https://www.youtube.com/embed/4fwEG8XK1uU?autoplay=1&mute=0">
  </iframe>
</div>

<p id="flip">A BRIEF INQUIRY INTO ONLINE RELATIONSHIPS</p>
